#account_container {
  .fieldrow {height: 25px;}

  #account_username {
    background-color: $dark_gray;
    border: solid 1px $dark_gray;
    color: #fff !important;
    display: inline-block;
    font-family: 'Fira Mono', monospace !important;
    font-size: 1.3rem;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    width: 450px;
  }

  #account_toggle_pass {
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    margin-bottom: 5px;
    padding-right: 6px;
    position: relative;
    width: 40px;
    z-index: 50;
    top: -25px;
  }
}
