$very_dark_blue:        rgb( 40,  85, 100);
$dark_moderate_cyan:    rgb( 50, 125, 115);
$moderate_green:        rgb(140, 190,  80);
$bright_yellow:         rgb(220, 190,  55);
$bright_orange:         rgb(230, 135,  65);
$dark_red:              rgb(155,  30,  50);

$black:                 rgb(  0,   0,   0);
$very_dark_gray:        rgb( 68,  68,  68);
$dark_gray:             rgb( 82,  82,  82);
$gray:                  rgb(102, 102, 102);
$alt_gray:              rgb(119, 119, 119);
$light_gray:            rgb(128, 128, 128);
$very_light_gray:       rgb(136, 136, 136);
$alt_very_light_gray:   rgb(220, 220, 220);
$white:                 rgb(255, 255, 255);

$video:                 rgb( 50, 125, 115);
$audio:                 rgb(140, 190,  80);
$image:                 rgb(164, 114,  29);
$url:                   rgb(155,  30,  50);
$playlist:              rgb(  5, 127,  66);
$standard:              rgb(231,  76,  60);
$advanced:              rgb( 91,  44, 111);
$live_assist:           rgb( 11,  83,  69);


$permissions:           rgb( 88, 113, 187);


$statusOK:              rgb(27, 148, 91);
