@font-face {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  src: url("../fonts/FiraSansCondensed-Regular.ttf");
}
@font-face {
  font-family: Fira Sans Condensed;
  font-weight: 500;
  src: url("../fonts/FiraSansCondensed-Medium.ttf");
}
@font-face {
  font-family: Fira Mono;
  font-weight: 400;
  src: url("../fonts/FiraMono-Regular.ttf");
}
